<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
  <meta charset="utf-8" lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Curriculum Vitae</title>
  <link rel="shortcut icon" type="image/png" href="/img/fav_notes.png">  
</head>

<body>
  <iframe src="/cv/CV_IvanMFachini.pdf" frameborder="0" style="width: 100%; height: 90vh;"></iframe>
</body>

</html>
