<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
  <meta charset="utf-8" lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Notes & Projects</title>
  <link rel="shortcut icon" type="image/png" href="/img/fav_notes.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
  <div id="shine-div">

      <div class="whole-screen">

        <div id="login-box">
          <div id="box-1">

            <h5>
              Notes & Projects
              <a href="https://youtu.be/MPtzaN_4deg">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
                  <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z"/>
                </svg>
              </a>
              <br>
              <div style="width: 72px; height: 1px; display: inline-block;"></div>
              <span style="font-size: 0.8em;">by Ivan M Fachini</span><a href="https://github.com/imanastronaut">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                </svg>
              </a> <a href="/cv"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-file-earmark-person-fill" viewBox="0 0 16 16">
                <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0m2 5.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-.245S4 12 8 12s5 1.755 5 1.755"/>
              </svg></a>
            </h5>

            <form action="/login" method="post" name="login-form" class="login-form" id="login-form" class="login_buttons">
              <input type="text" name="username" id="username" placeholder="username" autocomplete="off" maxlength="30" autofocus required>
              <input type="text" name="realname" id="realname" placeholder="your first name" autocomplete="off" maxlength="20" required>
              <input type="password" name="password" id="password" placeholder="password" maxlength="50" required>
              <input type="password" name="password-confirm" id="password-confirm" placeholder="confirm password" autocomplete="off" required>
              <div id="privacy_policy_warning" style="display: flex; width: 90%; align-self: center;">
                <input type="radio" id="policy_accept" name="policy_accept" value=1 style="width: 16px;" required/>
                  <label for="policy_accept" style="padding-left: 12px; font-size: 0.9rem; align-self: center;">I have read and accept the <a href="/privacy_policy">Privacy Policy</a><br>Li e aceito a <a href="/politica_de_privacidade">Política de Privacidade</a></label>
              </div>
              <div class="row-buttons">
                <button type="button" name="login" id="login">Login</button>
                <button type="button" form="register-form" name="register" id="register">Register</button>
              </div>
              <div class="row-buttons">
                <button type="submit" name="lost_access" id="lost_access" form="lost_access-form">Lost Access</button>
                <button type="button" class="btn-hover color-3" id="demo" form="demo-form">Demonstration</button>
              </div>
            </form>
            <form action="/login_google" method="get" name="oauth_google" id="oauth_google" class="login_buttons">
              <div class="row-buttons">
                <button type="submit" id="oauth_google_btn"><div style="margin-bottom: 4px;"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                  <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
                </svg></div>Login with Google (test version)</button>
              </div>
            </form>
            <form action="/lost_access" method="get" name="lost_acess-form" id="lost_access-form" hidden></form>
            <form action="/register" method="post" name="register-form" id="register-form" hidden></form>
            <form action="/demonstration" method="post" name="demo-form" id="demo-form" hidden></form>
          </div>

          <div class="login-box-2" id="why_location">
            <p><svg style="margin-bottom: 5px; font-size: 2em;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
              <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
            </svg>&nbsp;&nbsp;Why is it asking for my location?</p>
          </div>

          <div class="login-box-2"><h5>My Certificates: <a href="/certificates">2023</a></h5></div>

        </div>
      </div>

  </div> <!-- id="shine-div" -->

  <div class="auxiliar_note" id="username_required">
    <p>Please enter your username</p>
  </div>
  <div class="auxiliar_note" id="rn_required">
    <p>Please enter a real name</p>
  </div>
  <div class="auxiliar_note" id="pw_required">
    <p>Please enter a password</p>
  </div>
  <div class="auxiliar_note" id="username_forbidden">
    <p>Username must have at least 3 characters and cannot contain special characters except underline</p>
  </div>
  <div class="auxiliar_note" id="username_forbidden">
    <p>For the real name please use letters, space, numbers and underline only</p>
  </div>
  <div class="auxiliar_note" id="pw_small">
    <p>Passwords must have at least 5 characters and cannot contain parenthesis, brackets, slashes or quotation marks</p>
  </div>
  <div class="auxiliar_note" id="pw_not_match">
    <p>Passwords do not match</p>
  </div>
  <div class="auxiliar_note" id="test_version">
    <p>Test version per Google's API & Services recommendation. This means that one's e-mail should be on a list of test users beforehand. Please contact me if you want to include it.</p>
  </div>

  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script src="/js/scripts_login.js"></script>

</body>

</html>
